DATABASE_URL="mysql://<user>:<password>@57.129.42.224:3306/<database>"
SHADOW_DATABASE_URL="mysql://<user>:<password>@57.129.42.224:3306/luminae_shadow"

NEXT_PUBLIC_SCHEME=http://
NEXT_PUBLIC_DOMAIN=localhost:3000
NEXT_PUBLIC_URL=http://localhost:3000/

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_
STRIPE_SECRET_KEY=sk_test_
STRIPE_WEBHOOK_SECRET=whsec_

BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=hURQzzNM5Uy2QAqoGiWQBNRqneTOsi8X
EMAIL_VERIFICATION_CALLBACK_URL=http://localhost:3000/email-verified

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

EDGE_STORE_ACCESS_KEY=
EDGE_STORE_SECRET_KEY=