DATABASE_URL="mysql://<user>:<password>@57.129.42.224:3306/<database>"
SHADOW_DATABASE_URL="mysql://<user>:<password>@57.129.42.224:3306/luminae_shadow"

NEXT_PUBLIC_SCHEME=http://
NEXT_PUBLIC_DOMAIN=localhost:3000
NEXT_PUBLIC_URL=http://localhost:3000/

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

CLERK_SIGN_IN_FORCE_REDIRECT_URL=/dashboard
CLERK_SIGN_UP_FORCE_REDIRECT_URL=/dashboard

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=